@charset "UTF-8";
@font-face {
  font-family: RMS;
  src: url("../fonts/RMS.woff");
  font-stretch: normal;
  font-weight: normal; }
@font-face {
  font-family: Helvetica-Cn;
  src: url("../fonts/HelveticaNeueLTPro-Cn.woff");
  font-stretch: condensed;
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Helvetica-BdCn;
  src: url("../fonts/HelveticaNeueLTPro-BdCn.woff");
  font-stretch: condensed;
  font-weight: bold; }
@font-face {
  font-family: Helvetica-Th;
  src: url("../fonts/HelveticaNeueLTPro-Th.woff");
  font-stretch: normal;
  font-weight: 200; }
@font-face {
  font-family: Helvetica-LtCn;
  src: url("../fonts/HelveticaNeueLTPro-LtCn.woff");
  font-stretch: condensed;
  font-weight: 100; }
@font-face {
  font-family: Meteo;
  src: url("../fonts/Glyphter.woff");
  font-weight: normal;
  font-style: normal; }
@media (max-width: 1200px) {
  .context-long {
    position: relative;
    left: 22px; }

  .context-long-parks {
    position: relative;
    left: 36px; }

  .top-gauge-long {
    position: relative;
    left: -30px; }

  .title-fix {
    width: 100px; }

  .fix-load-factor-long-title {
    margin-left: 20px; }

  .fix-operation-status {
    margin-top: 32px;
    width: 150px; } }
@media (max-width: 1700px) {
  .fix-powerplant-graph {
    left: -40px; }

  .fix-power-plant-title {
    margin-left: 0px !important; }

  .fix-powerplants-position {
    margin-left: -20px; } }
.main-title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: Helvetica-Bd;
  margin-top: 20px;
  font-size: 10px; }

.sub-section-title {
  font-family: Helvetica;
  color: #ccc;
  text-transform: uppercase;
  font-size: 10px; }

.fix-margin-left-power {
  margin-left: 15px; }

.total-power {
  font-family: Helvetica;
  width: 170px; }
  .total-power .total-power-value {
    font-size: 40px;
    display: inline-block; }
  .total-power .total-power-unit {
    font-size: 20px;
    display: inline-block; }

.installed-capacity {
  font-family: Helvetica;
  color: #ccc;
  font-size: 10px; }
  .installed-capacity #installed-capacity-value {
    display: inline-block; }
  .installed-capacity #installed-capacity-unit {
    display: inline-block; }

.small-week-chart-wrapper {
  float: left;
  padding-bottom: 5%;
  margin-top: -20px;
  display: inline-block; }

#actbdgt {
  margin-left: 10px;
  position: relative;
  top: -15px; }
  #actbdgt td, #actbdgt th {
    border: 3px solid #393939; }
  #actbdgt tr td {
    height: 20px; }
  #actbdgt .top {
    border-top: 0; }
  #actbdgt .bottom {
    border-bottom: 0; }
  #actbdgt .left {
    border-left: 0; }
  #actbdgt .right {
    border-right: 0; }
  #actbdgt .cell {
    min-width: 10px;
    min-height: 20px; }
    #actbdgt .cell .infoBox {
      padding-right: 3px; }
    #actbdgt .cell .mainInfo {
      color: #fff;
      font-weight: bold; }
    #actbdgt .cell .gWh {
      color: #fff;
      font-family: Helvetica;
      font-size: 8px;
      padding-right: 3px; }
    #actbdgt .cell .Optlegend {
      display: block;
      margin-top: -6px;
      margin-left: 40px; }

.gauge-section-title {
  margin-left: 27px; }

.tech-long-right .main-title {
  margin-top: -10px; }

.gauge-section {
  margin-top: -10px;
  text-align: center; }

.top-row {
  /*.fix-position-la-expanded {
      margin-top: 50px;
  }*/ }
  .top-row .gauge-section {
    margin-top: -23px; }
  .top-row .status-circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    /* width and height can be anything, as long as they're equal */ }
  .top-row .fix-position-os-expanded {
    margin-top: 100px; }

.monitor-bottom-section {
  background-color: #393939;
  /*.short-one-tech {
      .gauge-section-title {
          margin-left: 20px;
      }
  }*/ }
  .monitor-bottom-section .total-power {
    width: 140px; }
    .monitor-bottom-section .total-power .total-power-value {
      font-size: 30px; }
    .monitor-bottom-section .total-power .total-power-unit {
      font-size: 23px; }
  .monitor-bottom-section .fix-margin-left-turbine-status {
    position: relative;
    left: 15px; }
  .monitor-bottom-section .fix-margin-YTD {
    margin-left: 45px; }
  .monitor-bottom-section .symbol {
    font-family: RMS;
    display: inline-block;
    font-size: 45px;
    margin-top: -4px;
    position: relative; }
  .monitor-bottom-section #keyPDesc {
    position: relative;
    z-index: 3;
    padding-left: 40px;
    float: left;
    margin-top: 4px; }
    .monitor-bottom-section #keyPDesc .outer-circle {
      border-radius: 50%;
      height: 11px;
      width: 11px;
      position: relative;
      margin-right: 10px; }
    .monitor-bottom-section #keyPDesc .colourCircle1 {
      background: #1B9D77; }
    .monitor-bottom-section #keyPDesc .colourCircle2 {
      background: #F2B200; }
    .monitor-bottom-section #keyPDesc .inner-circleColourMTD {
      background: #393939; }
    .monitor-bottom-section #keyPDesc .inner-circle {
      position: absolute;
      border-radius: 50%;
      height: 9px;
      width: 9px;
      top: 54%;
      left: 55%;
      margin: -5px 0px 0px -5px; }
    .monitor-bottom-section #keyPDesc .description {
      color: #a1a1a1;
      font-size: 11px;
      padding-left: 16px;
      margin-top: -14px;
      margin-left: 4px; }
    .monitor-bottom-section #keyPDesc .circleanddesc {
      margin-bottom: 8px; }
    .monitor-bottom-section #keyPDesc .colourCircle3 {
      background: #85C924; }
    .monitor-bottom-section #keyPDesc .colourCircle4 {
      background: #FF775C; }
    .monitor-bottom-section #keyPDesc .inner-circleColourKey {
      background: #393939; }
  .monitor-bottom-section .long-one-tech .gauge-section-title {
    margin-left: 45px; }
  .monitor-bottom-section .long-one-tech .active-power-title {
    margin-left: 37px; }
  .monitor-bottom-section .fix-title-borders {
    position: relative;
    z-index: 4; }
  .monitor-bottom-section .fix-margin-top-bottom {
    margin-top: 20px; }
  .monitor-bottom-section .fix-margin-bottom-bot {
    margin-bottom: 30px; }

div .alarm {
  background-color: #ff3830;
  max-width: 25px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px; }
  div .alarm:after {
    font-family: Icons;
    content: "\e84D"; }

div .notification {
  background-color: #fbb03b;
  max-width: 25px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px; }
  div .notification:after {
    font-family: Icons;
    content: "\e95E"; }

.alarm-time {
  float: right;
  font-size: 10px;
  padding-top: 3px;
  padding-right: 5px;
  color: #a1a1a1; }

.temperatureC {
  display: inline-block; }
  .temperatureC:after {
    font-family: weatherIcon;
    content: "\e819"; }

div .iconParks {
  font-family: RMS;
  font-size: 35px;
  display: inline-block; }

/* WEATHER */
div .rainwindy:after {
  font-family: weatherIcon;
  content: "\e801"; }

div .lightsnow:after {
  font-family: weatherIcon;
  content: "\e805"; }

div .heavysnow:after {
  font-family: weatherIcon;
  content: "\e806"; }

div .snow:after {
  font-family: weatherIcon;
  content: "\e810"; }

div .sunny:after {
  font-family: weatherIcon;
  content: "\e820"; }

div .cloudy:after {
  font-family: weatherIcon;
  content: "\e828"; }

div .thundercloudy:after {
  font-family: weatherIcon;
  content: "\e829"; }

div .suncloudy:after {
  font-family: weatherIcon;
  content: "\e824"; }

div .mooncloudy:after {
  font-family: weatherIcon;
  content: "\e825"; }

div .rain:after {
  font-family: weatherIcon;
  content: ""; }

div .heavyrain:after {
  font-family: weatherIcon;
  content: "\e82d"; }

/*# sourceMappingURL=monitor.css.map */
