@import 'variables';
@import 'fonts';

@media (max-width: 1200px) {
    .context-long {
        position: relative;
        left: 22px;
    }
    .context-long-parks {
        position: relative;
        left: 36px;
    }
    .top-gauge-long {
        position: relative;
        left: -30px;
    }
    .title-fix {
        width: 100px;
    }
    .fix-load-factor-long-title {
        margin-left: 20px;
    }
    .fix-operation-status {
        margin-top: 32px;
        width: 150px;
    }
}

@media (max-width: 1700px) {
    .fix-powerplant-graph {
        left: -40px;
    }
    .fix-power-plant-title {
        margin-left: 0px !important;
    }
    .fix-powerplants-position {
        margin-left: -20px;
    }
}

.main-title {
    color: $light-text-color;
    text-transform: uppercase;
    font-family: Helvetica-Bd;
    margin-top: 20px;
    font-size: 10px;
}

.sub-section-title {
    font-family: Helvetica;
    color: $monitor-title-color;
    text-transform: uppercase;
    font-size: 10px;
    //width: 100px;
}

.fix-margin-left-power {
    margin-left: 15px;
}

.total-power {
    font-family: Helvetica;
    width: 170px;
    .total-power-value {
        font-size: 40px;
        display: inline-block;
    }
    .total-power-unit {
        font-size: 20px;
        display: inline-block;
    }
}

.installed-capacity {
    font-family: Helvetica;
    color: $monitor-title-color;
    font-size: 10px;
    #installed-capacity-value {
        display: inline-block;
    }
    #installed-capacity-unit {
        display: inline-block;
    }
}

.small-week-chart-wrapper {
    float: left;
    padding-bottom: 5%;
    margin-top: -20px;
    display: inline-block;
}

#actbdgt {
    margin-left: 10px;
    position: relative;
    top: -15px;
    td, th {
        border: 3px solid #393939;
    }
    tr td {
        height: 20px;
    }
    .top {
        border-top: 0;
    }
    .bottom {
        border-bottom: 0;
    }
    .left {
        border-left: 0;
    }
    .right {
        border-right: 0;
    }
    .cell {
        min-width: 10px;
        min-height: 20px;
        .infoBox {
            padding-right: 3px;
        }
        .mainInfo {
            color: #fff;
            //font-size: 13px;
            font-weight: bold;
        }
        .gWh {
            color: #fff;
            font-family: Helvetica;
            font-size: 8px;
            padding-right: 3px;
        }
        .Optlegend {
            display: block;
            margin-top: -6px;
            margin-left: 40px;
        }
    }
}

.gauge-section-title {
    margin-left: 27px;
}

.tech-long-right {
    .main-title {
        margin-top: -10px;
    }
}

.gauge-section {
    margin-top: -10px;
    text-align: center;
}

.top-row {
    .gauge-section {
        margin-top: -23px;
    }
    .status-circle {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        /* width and height can be anything, as long as they're equal */
    }
    .fix-position-os-expanded {
        margin-top: 100px;
    }
    /*.fix-position-la-expanded {
        margin-top: 50px;
    }*/
}

.monitor-bottom-section {
    background-color: $monitor-bottom-background-color;
    .total-power {
        width: 140px;
        .total-power-value {
            font-size: 30px;
        }
        .total-power-unit {
            font-size: 23px;
        }
    }
    .fix-margin-left-turbine-status {
        position: relative;
        left: 15px;
    }
    .fix-margin-YTD {
        margin-left: 45px;
    }
    .symbol {
        font-family: RMS;
        display: inline-block;
        font-size: 45px;
        margin-top: -4px;
        position: relative;
    }
    #keyPDesc {
        position: relative;
        z-index: 3;
        padding-left: 40px;
        float: left;
        margin-top: 4px;
        .outer-circle {
            border-radius: 50%;
            height: 11px;
            width: 11px;
            position: relative;
            margin-right: 10px;
        }
        .colourCircle1 {
            background: #1B9D77;
        }
        .colourCircle2 {
            background: #F2B200;
        }
        .inner-circleColourMTD {
            background: $monitor-bottom-background-color;
        }
        .inner-circle {
            position: absolute;
            border-radius: 50%;
            height: 9px;
            width: 9px;
            top: 54%;
            left: 55%;
            margin: -5px 0px 0px -5px;
        }
        .description {
            color: #a1a1a1;
            font-size: 11px;
            padding-left: 16px;
            margin-top: -14px;
            margin-left: 4px;
        }
        .circleanddesc {
            margin-bottom: 8px;
        }
        .colourCircle3 {
            background: #85C924;
        }
        .colourCircle4 {
            background: #FF775C;
        }
        .inner-circleColourKey {
            background: $monitor-bottom-background-color;
        }
    }
    /*.short-one-tech {
        .gauge-section-title {
            margin-left: 20px;
        }
    }*/
    
    .long-one-tech {
        .gauge-section-title {
            margin-left: 45px;
        }
        .active-power-title {
            margin-left: 37px;
        }
    }
    .fix-title-borders {
        position: relative;
        z-index: 4;
    }
    .fix-margin-top-bottom {
        margin-top: 20px;
    }
    .fix-margin-bottom-bot {
        margin-bottom: 30px;
    }
}

div .alarm {
    &:after {
        font-family: Icons;
        content: "\e84D";
    }
    background-color: #ff3830;
    max-width: 25px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

div .notification {
    &:after {
        font-family: Icons;
        content: "\e95E";
    }
    background-color: #fbb03b;
    max-width: 25px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.alarm-time {
    float: right;
    font-size: 10px;
    padding-top: 3px;
    padding-right: 5px;
    color: #a1a1a1;
}

.temperatureC {
    &:after {
        font-family: weatherIcon;
        content: "\e819";
    }
    display: inline-block;
}

div .iconParks {
    font-family: RMS;
    font-size: 35px;
    display: inline-block;
}

/* WEATHER */

div .rainwindy {
    &:after {
        font-family: weatherIcon;
        content: "\e801";
    }
}

div .lightsnow {
    &:after {
        font-family: weatherIcon;
        content: "\e805";
    }
}

div .heavysnow {
    &:after {
        font-family: weatherIcon;
        content: "\e806";
    }
}


div .snow {
    &:after {
        font-family: weatherIcon;
        content: "\e810";
    }
}

div .sunny {
    &:after {
        font-family: weatherIcon;
        content: "\e820";
    }
}

div .cloudy {
    &:after {
        font-family: weatherIcon;
        content: "\e828";
    }
}

div .thundercloudy {
    &:after {
        font-family: weatherIcon;
        content: "\e829";
    }    
}

div .suncloudy {
    &:after {
        font-family: weatherIcon;
        content: "\e824";
    }
}

div .mooncloudy {
    &:after {
        font-family: weatherIcon;
        content: "\e825";
    }
}

div .rain {
    &:after {
        font-family: weatherIcon;
        content: "\e82c"
    }
}

div .heavyrain {
    &:after {
        font-family: weatherIcon;
        content: "\e82d";
    }
}